[Desktop Entry]
Name=Flappy Bird
Exec=/data/data/com.termux/files/usr/bin/FlappyBird-launch
Icon=/data/data/com.termux/files/home/FlappyBird/icon.png
Type=Application
Categories=Game;
Terminal=false
