[Desktop Entry]
Version=1.0
Type=Application
Name=TicTacToe
Comment=Play Tic Tac Toe
Exec=TicTacToe-launch
Icon=/data/data/com.termux/files/home/TicTacToe/icon.png
Categories=Game;
Terminal=false
