[Desktop Entry]
Version=1.0
Type=Application
Name=Snake
Comment=Classic Snake game
Exec=Snake-launch
Icon=/data/data/com.termux/files/home/Snake/icon.png
Categories=Game;
Terminal=false
