[Desktop Entry]
Name=Word Scramble
Exec=/data/data/com.termux/files/usr/bin/WordScramble-launch
Icon=/data/data/com.termux/files/home/WordScramble/icon.png
Type=Application
Categories=Game;
Terminal=false
