[Desktop Entry]
Version=1.0
Type=Application
Name=SimonSays
Comment=Play Simon Says
Exec=SimonSays-launch
Icon=/data/data/com.termux/files/home/SimonSays/icon.png
Categories=Game;
Terminal=false
