[Desktop Entry]
Version=1.0
Type=Application
Name=ColorPickerGame
Comment=Guess the hex color code
Exec=ColorPickerGame-launch
Icon=/data/data/com.termux/files/home/ColorPickerGame/icon.png
Categories=Game;
Terminal=false
