[Desktop Entry]
Version=1.0
Type=Application
Name=GuessTheNumber
Comment=Guess the number game
Exec=GuessTheNumber-launch
Icon=/data/data/com.termux/files/home/GuessTheNumber/icon.png
Categories=Game;
Terminal=false
