[Desktop Entry]
Version=1.0
Type=Application
Name=Minesweeper
Comment=Play Minesweeper
Exec=Minesweeper-launch
Icon=/data/data/com.termux/files/home/Minesweeper/icon.png
Categories=Game;
Terminal=false
