[Desktop Entry]
Name=Sudoku
Exec=/data/data/com.termux/files/usr/bin/Sudoku-launch
Icon=/data/data/com.termux/files/home/Sudoku/icon.png
Type=Application
Categories=Game;
Terminal=false
