[Desktop Entry]
Version=1.0
Type=Application
Name=ReactionTime
Comment=Test your reaction time
Exec=ReactionTime-launch
Icon=/data/data/com.termux/files/home/ReactionTime/icon.png
Categories=Game;
Terminal=false
