[Desktop Entry]
Version=1.0
Type=Application
Name=Hangman
Comment=Play Hangman
Exec=Hangman-launch
Icon=/data/data/com.termux/files/home/Hangman/icon.png
Categories=Game;
Terminal=false
