[Desktop Entry]
Version=1.0
Type=Application
Name=RockPaperScissors
Comment=Rock Paper Scissors game
Exec=RockPaperScissors-launch
Icon=applications-games
Categories=Game;
Terminal=false
