[Desktop Entry]
Version=1.0
Type=Application
Name=RockPaperScissors
Comment=Rock Paper Scissors game
Exec=RockPaperScissors-launch
Icon=/data/data/com.termux/files/home/RockPaperScissors/icon.png
Categories=Game;
Terminal=false
