[Desktop Entry]
Name=Whack-A-Mole
Exec=/data/data/com.termux/files/usr/bin/WhackAMole-launch
Icon=/data/data/com.termux/files/home/WhackAMole/icon.png
Type=Application
Categories=Game;
Terminal=false
