[Desktop Entry]
Version=1.0
Type=Application
Name=Pong
Comment=Play Pong
Exec=Pong-launch
Icon=/data/data/com.termux/files/home/Pong/icon.png
Categories=Game;
Terminal=false
