[Desktop Entry]
Version=1.0
Type=Application
Name=MemoryMatch
Comment=Play Memory Match
Exec=MemoryMatch-launch
Icon=/data/data/com.termux/files/home/MemoryMatch/icon.png
Categories=Game;
Terminal=false
